<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>註冊新會員</title>
</head>
<body>
<h1>會員註冊</h1>
<form role="form">
    <div class="form-group">
        <label>註冊信箱</label>
        <input class="form-control" placeholder="請輸入 Email"/>
    </div>
    <div class="form-group">
        <label>會員密碼</label>
        <input class="form-control" placeholder="請輸入密碼"/>
    </div>
    <button type="submit" class="btn btn-default">註冊</button>
    <button type="reset" class="btn btn-default">清除</button>
</form>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/js/sb-admin-2.js}" src="../js/sb-admin-2.js"></script>

</body>
</html>